$primaryColor: #000;
$accentColor: #ff652f;
$textColor: #fff;
$fontWeights: (
  "regular": 400,
  "medium": 600,
  "large": 800,
);
$fontSizes: (
  "mobile": 20px,
  "tablet": 24px,
  "desktop": 30px,
);
$mobile: 800px;
