<div *ngIf="product" addBorder> Click to add border
    <ul>
        <li highlight>{{product.title | ToUpperCase}}</li>
        <li>{{product.description | ToLowerCase}}</li>
        <li>{{product.price | currency:'INR'}}</li>
        <li>{{product.category | ToUpperCase}}</li>
        <li>{{currentDate | date:'mediumDate' | uppercase}}</li>
    </ul>
    <!-- Example using ngStyle -->
    <div
        [ngStyle]="{'color': product.title === 'Special Product' ? 'red' : 'black'}">
        Styling based on product properties
    </div>

    <!-- Example using ngClass -->
    <div [ngClass]="{
    'special-product': product.title === 'Special Product'
  }">
        Class based on product properties
    </div>
    <p>Aysnc Pipe: {{dataPromise | async}}</p>
</div>