@import "../../Global.scss";

.work {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .arrow {
    position: absolute;
    height: 50px;
    cursor: pointer;

    &.left {
      left: 100px;
      transform: rotate(180deg);

      @include mobile {
        left: 0px;
        background-color: black;
        opacity: 0.2;
      }
    }

    &.right {
      right: 100px;

      @include mobile {
        right: 0px;
        background-color: black;
        opacity: 0.2;
      }
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 2s ease;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;

      .itemContainer {
        width: 700px;
        height: 100%;
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #000;

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: blanchedalmond;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 25px;
              }
            }
            h2 {
              font-size: 20px;
            }
            p {
              font-size: 13px;
            }
            span {
              font-size: 12px;
              font-weight: 500;
              text-decoration: underline;
              cursor: poin;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 400px;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
