.container {
    background-color: black;
    height: 600px;
    /* width: 1000px; */
    display: grid;
    /* grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px; */
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 1fr 1fr;
    /* fr takes the complete space and adjust accordingly */
    /* grid-template-rows: repeat(200px, 1fr);
    grid-template-columns: repeat(200px, 1fr); */
    row-gap: 10px;
    column-gap: 10px;
}

.item {
    background-color: aqua;
    /* height: 150px;
    width: 150px; */
}

.header {
    background-color: teal;
    grid-column: 1 /span 3;
    /* grid-column-start: 1;
    grid-column-end: 4; */
}

.footer {
    background-color: teal;
    grid-column-start: 1;
    grid-column-end: 4;
}